.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.button {
  width: 4rem;
}

.input {
  border: 1px solid teal;
  outline: none;
  padding: 10px 20px;
  flex-grow: 1;
}